.main{
    height: 500px;
    width: 400px;
    border: 5px solid gray;
    text-align: center;
    background-color:rgb(215, 228, 228);
}
.btn{
    width: 95%;
    height: 55px;
    margin-top: 35px;
    margin-bottom: 25px;
    font-size: 45px;
    background-color:  rgb(241, 246, 250);
    border: 2px solid lightslategrey;

    
}
.numBtn{
    width: 75px;
    height: 60px;
    margin-top: 10px;
    margin-left: 3px;
    margin-right: 3px;
    margin-bottom: 5px;
    background-color:  rgb(177, 177, 195);
    font-size: 40px;

}
.clearBtn{
    width: 82.5%;
    height: 60px;
    background-color:  rgb(177, 177, 195);
    font-size: 40px;
}
